TRAMPLIN_SECRET_KEY=change_me_for_local_dev
TRAMPLIN_DATABASE_URL=postgresql://tramplin_user:tramplin_password@localhost:5432/tramplin_db
TRAMPLIN_ADMIN_EMAIL=admin@example.com
TRAMPLIN_ADMIN_PASSWORD=change_me_admin_password
TRAMPLIN_ADMIN_NAME=Администратор
TRAMPLIN_AUTO_VERIFY_EMPLOYERS=false
YANDEX_GEOCODER_API_KEY=your_yandex_maps_key
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=465
SMTP_USERNAME=change_me_brevo_smtp_login
SMTP_PASSWORD=change_me_smtp_app_password
SMTP_FROM_EMAIL=noreply@tramplin.site
SMTP_FROM_NAME=Tramplin
BACKEND_PUBLIC_URL=https://tramplin.site/api
FRONTEND_PUBLIC_URL=https://tramplin.site
EMAIL_VERIFICATION_TTL_MINUTES=60
